<app-confirm-modal title="modal de confirmação" message="tem certeza que deseja deletar o pagamento"
    [show]="showConfirmModal" (cancel)="closeConfirmModal()" (confirm)="remove($event)"></app-confirm-modal>

<div class="row header-actions">
    <div class="col-md-6">
        <div class="title">
            <h3>agenda de pagamentos</h3>
        </div>
    </div>
    <div class="col-md-4" [formGroup]="filterForm">
        <app-main-input (keyup)="search($event)" formControlName="name" placeholder="buscar pelo nome"></app-main-input>
    </div>
    <div class="col-md-2">
        <button class="primary-button" (click)="add()">adicionar</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">nome</th>
                <th scope="col">título</th>
                <th scope="col">data</th>
                <th scope="col">valor</th>
                <th scope="col">status</th>
                <th class="actions"></th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks; index as i">
                <td>{{task.name}}</td>
                <td>{{task.title}}</td>
                <td>{{task.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{task.value | currency:'BRL'}}</td>
                <td>
                    <span *ngIf="task.isPayed" class="badge text-bg-success">pago</span>
                    <span *ngIf="!task.isPayed"><span class="badge text-bg-danger">em aberto</span>
                    </span>
                </td>
                <td>
                    <span class="touched-area" (click)="edit(task)">
                        <i class="bi bi-pencil"></i>
                    </span>
                </td>
                <td>
                    <span class="touched-area" (click)="openConfirmModal(task)">
                        <i class="bi bi-trash3"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="footer-table">
    <mat-paginator (page)="handlePageEvent($event)" [length]="total" [pageSize]="pageSize" [showFirstLastButtons]="true"
        [pageSizeOptions]="[10, 20, 50, 100]" aria-label="paginação">
    </mat-paginator>
</div>