@import '../../../../../assets/styles/colors.scss';

.header-actions{
    justify-content: space-around;
    width: 100%;
    margin-bottom: 32px;
}

.button-container{
    max-width: 250px;
    display: flex;
    width: 100%;
    margin-left: auto;
    }	

.table-responsive {
    border: solid 1px $soft-color;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 500px;
    table {
        margin: 0;

        thead {
            vertical-align: middle;
            height: 74px;
            th {
                i{
                    margin-left: 16px;
                }
                padding: 0px 32px;
                font-size: 16px;
                font-weight: 600;
                color: $dark-color;

                &:hover:not(.actions) {
                    cursor: pointer;
                    background-color: darken($soft-color, 5%);
                }
            }
        }
    }

    tbody {
        vertical-align: middle;
        td{
            padding: 0px 32px;
        }
        tr{
            height: 74px;
        }
        tr:not(:last-child) {
            border-bottom: 1px solid $soft-color !important;
        }
    }
}

.footer-table{
    margin-top: 32px ;
}

.date-range-container{
    width: fit-content;
    max-width: auto;
    height: 48px;
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding: 0 16px;
    font-size: 16px;
    color: $dark-color;
    background-color: $main-bg-color;

    input{
        cursor: default;
        &:focus{
            outline: none;
        }
    }
}

.value-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    div{
        width: 90%;
    }
}