@import '../../../../assets/styles/colors.scss';

.nav-container{
    height: 64px;
    padding: 32px;
    background-color: $main-bg-color;
    display: flex;    
    .nav-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    .nav-logo{
        display: flex;
        align-items: center;
        width: 72px;
        margin-right: 16px;
    }

    .avatar{
        background-color: $bg-soft-color;
        margin-left: auto;
        cursor: pointer;      
        width: 48px;
        height: 48px;
        border-radius: 50%;
        img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }
    
    .avatar-loading{
        margin-left: auto;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #ccc;
            animation: infinite 1s linear loading;
        
            @keyframes loading{
                0%{
                    opacity: 0.2;
                }
                50%{
                    opacity: 0.5;
                }
                100%{
                    opacity: 1;
                }
            }
        }
    }

    ul.nav-menu{
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        li{
            a{
                text-decoration: none;
                color: $dark-color;
                font-size: 16px;
                font-weight: 500;
            }
            padding: 16px;
            &:hover{
                background-color: $bg-soft-color;
                border-radius: 2px;
            }
        }
    }


    }
}
