@mixin button($color,
  $background,
  $border,
  $hover-color,
  $hover-background,
  $hover-border,
) {

  color: $color;
  background: $background;
  height: 48px;
  border: $border;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: $hover-color;
    background: $hover-background;
    border: $hover-border;
  }

  &:disabled, &[disabled] {
    cursor: not-allowed;

    &:hover {
      color: darken($color, 10%);
      background: darken($background, 10%);
      border: $border;
    }
  }
}