@mixin button($color, $background, $border, $hover-color, $hover-background, $hover-border) {
  color: $color;
  background: $background;
  height: 38px;
  border: $border;
  border-radius: 8px;
  width: 100%;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border: $hover-border;
  }
}