@import '../../../assets/styles/colors.scss';

.view-login{
    height: 100vh;
    display: flex;
    flex-direction: row;

    .login-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 80px;
        
        .login-card {
            width: 100%;
        }

        @media screen and (max-width: 842px) {
            width: 100%;
        }
    }
    
    .image-container{
        width: 50%;
        position: relative;
        img{
            object-fit: cover;
            position: absolute;
            height: 100%;
        }

        @media screen and (max-width: 842px) {
            display: none;
        }
    }

}