<form (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="view-login">
        <div class="image-container">
            <img src="../../../assets/public/challenge-picpay.jpg" alt="mulher fazendo pagamento">
        </div>

        <div class="login-container">
            <div class="login-card">
                <div class="title">
                    <h3>entrar</h3>
                </div>

                <div class="login-body">
                    <div class="mt-6">
                        <app-main-input formControlName="username" label="email"
                            placeholder="digite seu e-mail"></app-main-input>
                    </div>
                    <div class="mt-6">
                        <app-main-input formControlName="password" type="password" label="senha" [showContent]="true"
                            placeholder="digite sua senha"></app-main-input>
                    </div>
                </div>

                <div class="footer-login">
                    <button type="submit" [disabled]="!loginForm.valid" class="secondary-button">entrar</button>
                </div>

            </div>
        </div>
    </div>
</form>