<div class="edit-container">
    <div class="title">
        <h3>editar pagamento</h3>
    </div>
    <form [formGroup]="editForm">

        <div class="my-3">
            <app-main-input label="nome" placeholder="digite seu nome" formControlName="name"></app-main-input>
        </div>
        <div class="my-3">
            <app-main-input label="titulo" placeholder="digite seu titulo" formControlName="title"></app-main-input>
        </div>
        <div class="my-3">
            <app-main-input mask="00/00/0000" [date]="true" label="data" placeholder="digite sua data"
                formControlName="date"></app-main-input>
        </div>
        <div class="my-3">
            <app-main-input label="valor" (change)="formatarValor($event)" placeholder="digite o valor"
                formControlName="value"></app-main-input>
        </div>
        <div class="my-3">
            <label for="">status</label>
            <select formControlName="isPayed" class="form-select form-select-lg mb-3"
                aria-label="seletor de status pagamento">
                <option value="true">pago</option>
                <option value="false">em aberto</option>
            </select>
        </div>
    </form>
    <div class="footer-edit">
        <div>
            <button class="secondary-button" (click)="saveTask()">salvar</button>
        </div>
    </div>
</div>