.create-container{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .main-input-container{
        margin-bottom: 32px !important;
    }

    button{
        margin-top: 32px;
    }
}