<div class="create-container">
    <div class="title">
        <h3>adicionar pagamento</h3>
    </div>
    <form [formGroup]="formCreate">

        <div class="my-3">
            <app-main-input label="nome" placeholder="digite seu nome" formControlName="name"></app-main-input>
        </div>
        <div class="my-3">
            <app-main-input label="titulo" placeholder="digite seu titulo" formControlName="title"></app-main-input>
        </div>
        <div class="my-3">
            <app-main-input [date]="true" label="data" placeholder="digite sua data"
                formControlName="date"></app-main-input>
        </div>
        <div class="my-3">
            <app-main-input [currency]="true" label="valor" placeholder="digite o valor"
                formControlName="value"></app-main-input>
        </div>
    </form>
    <div class="footer-edit">
        <div>
            <button class="secondary-button" (click)="create()">salvar</button>
        </div>
    </div>
</div>