@import './assets/styles/colors.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,200&display=swap');
@import './assets/styles/mixins/button.mixin.scss';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';


html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: $main-bg-color;
  }
  
  body, h1, h2, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.title h3{
  font-size: 30px;
  font-weight: 700;
  color: $dark-color;
  margin-bottom: 32px;
}

.primary-button{
  @include button($primary-text-color, $primary-color, 0, none, none, 0);
}
.secondary-button{
  @include button(
    $primary-text-color,
    $primary-color,
    solid 1px #ffffff,
    $primary-color,
    $primary-text-color,
    solid 2px $primary-color
);
}
