@import './assets/styles/colors.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,200&display=swap');
@import './assets/styles/mixins/button.mixin.scss';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';


html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: $main-bg-color;
  }
  
  body, h1, h2, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

ol, ul {
    list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #adabab; 
  border-radius: 6px;
}

/* Estiliza o handle da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.title h3{
  font-size: 30px;
  font-weight: 700;
  color: $dark-color;
  margin-bottom: 32px;
}

.layout{
  padding: 32px;

}

/* @mixin button(
  $color,
  $background,
  $border,
  $hover-color,
  $hover-background,
  $hover-border,
) { */

.primary-button{
  @include button(
    $primary-text-color,
    $primary-color,
    1px solid $primary-color,
    $primary-text-color,
    $primary-color,
    1px solid $primary-color);
}
.secondary-button{
  @include button(
    $primary-text-color,
    $primary-color,
    solid 1px $primary-color,
    $primary-color,
    $primary-text-color,
    solid 1px $primary-color
);
}
